.App {
  text-align: center;
  -webkit-text-size-adjust: none !important;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.button {
  color: black;
  line-height: 40px;
  font-size: 24px;
}

.top-area {
  position: fixed;
  width: 100%;
  top: 0;
  height: 40px;
  border-radius: 30px;
  background-color: pink;
  top: calc(constant(safe-area-inset-top) + 10px);
  top: calc(env(safe-area-inset-top) + 10px);
}
.left-area {
  position: fixed;
  width: 30%;
  bottom: 100px;
  left: 0;
  height: 40px;
  border-radius: 30px;
  background-color: grey;
  left: calc(constant(safe-area-inset-left) + 0px);
  left: calc(env(safe-area-inset-left) + 0px);
  /* left: max(calc(constant(safe-area-inset-left) + 0px), 6%);
  left: max(calc(env(safe-area-inset-left) + 0px), 6%); */
}

.right-area {
  position: fixed;
  width: 30%;
  bottom: 100px;
  right: 0;
  height: 40px;
  border-radius: 30px;
  background-color: blue;
  right: calc(constant(safe-area-inset-right) + 0px);
  right: calc(env(safe-area-inset-right) + 0px);
  /* right: max(calc(constant(safe-area-inset-right) + 0px), 6%);
  right: max(calc(env(safe-area-inset-right) + 0px), 6%); */
}

.bottom-area {
  position: fixed;
  width: 100%;
  bottom: 0;
  height: 40px;
  border-radius: 30px;
  background-color: red;
  bottom: calc(constant(safe-area-inset-bottom) + 10px);
  bottom: calc(env(safe-area-inset-bottom) + 10px);
}

/* .input-area {
  position: fixed;
  width: 80%;
  bottom: 200px;
  left: 10%;
  height: 20px;
  bottom: calc(constant(safe-area-inset-bottom) + 200px);
  bottom: calc(env(safe-area-inset-bottom) + 200px);
} */

.input-area {
  position: static;
  width: 40%;
  left: 30%;
  height: 20px;
}

.grey-block {
  height: 320px;
  background-color: grey;
}

.green-block {
  height: 320px;
  background-color: greenyellow;
}

.wheat-block {
  height: 60px;
  background-color: wheat;
}